<config>
    <modules>
        <MntsInfotech_CookieConsent>
            <version>0.1.1</version>
        </MntsInfotech_CookieConsent>
    </modules>
    <frontend>
        <layout>
            <updates>
                <mntsinfotech_cookieconsent>
                    <file>mntsinfotech_cookieconsent.xml</file>
                </mntsinfotech_cookieconsent>
            </updates>
        </layout>
        <events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <mntsinfotech_jquery_prepare_layout_before>
                        <class>cookieconsent/observer</class>
                        <method>prepareLayoutBefore</method>
                    </mntsinfotech_jquery_prepare_layout_before>
                </observers>
            </core_block_abstract_prepare_layout_before>
        </events>
    </frontend>
    <global>
        <blocks>
            <cookieconsent>
                <class>MntsInfotech_CookieConsent_Block</class>
            </cookieconsent>
        </blocks>

        <helpers>
            <cookieconsent>
                <class>MntsInfotech_CookieConsent_Helper</class>
            </cookieconsent>
        </helpers>

        <models>
            <cookieconsent>
                <class>MntsInfotech_CookieConsent_Model</class>
            </cookieconsent>
        </models>
    </global>
    <adminhtml>
        
        <menu>
            <mntsinfotechall translate="title" module="cookieconsent">
                <title>MNTS Infotech</title>
                <sort_order>71</sort_order>
                <children>
                    <cookieconsent translate="title" module="cookieconsent">
                        <title>Cookie Consent Settings</title>
                        <sort_order>5</sort_order>
                        <action>admin/system_config/edit/section/mntsinfotechcookieconsent</action>
                    </cookieconsent>
                </children>
            </mntsinfotechall>
        </menu>
        
    </adminhtml>
    <default>

        <mntsinfotechcookieconsent>
            
            <message>
                <message>This site uses cookies to improve your browsing experience. By continuing to use this site, you accept these cookies.</message>
                
            </message>
            
        </mntsinfotechcookieconsent>

    </default>
    
</config>